body {
    font-family: Arial, sans-serif;
    background-color: #d3ccd2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container {
    background: #f0e4e4;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
h1 {
    text-align: center;
    color: #0e010b;
    margin-bottom: 20px;
}
button {
    width: 100%;
    background: #2f1ecc;
    color: rgb(0, 2, 3);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #d4a2a2;
}